<nav class="navbar navbar-expand-lg bg-dark navbar-dark">     
    <a class="navbar-brand" href="#"> <img
      src="https://mdbootstrap.com/img/logo/mdb-transaprent-noshadows.png"
      height="30"
      alt=""
      loading="lazy"
    /> E-Stock-Market</a>    
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item">
          <a class="nav-link"  routerLink="/List-Company"> Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/add-company">Add Company </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/stock-details">Stock Details</a>
        </li>               
      </ul>     
    </div>
  </nav>